<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="Default">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Andead.Chat.Server.Wcf.Service">
        <endpoint binding="netTcpBinding" bindingConfiguration="Default" contract="Andead.Chat.Server.IChatService" address="" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/chat" />
            <add baseAddress="http://localhost/chat" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
        <diagnostics>
            <messageLogging logEntireMessage="false" logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" maxMessagesToLog="3000" />
        </diagnostics>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
    <system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Off">
                <listeners>
                    <add name="AppFabricTracing" />
                </listeners>
            </source>
            <source propagateActivity="true" name="System.Activities" switchValue="Off">
                <listeners>
                    <add name="AppFabricTracing" />
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging">
                <listeners>
                    <add name="AppFabricMessageLogging" />
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="AppFabricTracing" initializeData="E:\Logs\WCF\Chat\trace.svclog" type="System.Diagnostics.XmlWriterTraceListener" />
            <add name="AppFabricMessageLogging" initializeData="E:\Logs\WCF\Chat\Message.svclog" type="System.Diagnostics.XmlWriterTraceListener" />
        </sharedListeners>
    </system.diagnostics>

</configuration>