<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Andead.Chat.Client.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Andead.Chat.Client.WinForms.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>Guest</value>
            </setting>
        </Andead.Chat.Client.WinForms.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IChatService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://andrew-pc/Service.svc" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatService" contract="ChatService.IChatService"
                name="NetTcpBinding_IChatService" />
        </client>
    </system.serviceModel>
</configuration>